* {
  margin: 0;
  padding: 0;

  transition: viewport 0.5s;
}

use, svg {
  display: block;
}

use {
  position: absolute;
}

svg {
  position: relative;
}

.red {fill: #ff2500;}
.blue {fill: #0432ff;}
.yellow {fill: #fffb01;}
.black {fill: #2b1100;}
.skin {fill: #ffb481;}